MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=smile_health
MYSQL_USER=smileuser
MYSQL_PASSWORD=smilepass

RABBITMQ_USER=admin
RABBITMQ_PASS=admin

KEYCLOAK_DB_PASSWORD=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
