PORT="5001"
LOG_LEVEL="info"
LOG_CALLER="false"
KEYCLOAK_SERVER_URL="http://keycloak"
KEYCLOAK_REALM="smile"
KEYCLOAK_CLIENT_ID="smile"
KEYCLOAK_CLIENT_SECRET=""
REALM_SYSUSER_NAME="sysuser"
REALM_SYSUSER_PASS="smileforever"
API_PREFIX="/auth"
