NODE_ENV=development
PORT=3005
LOG_MODE=development
 
APP_NAME=SMILE Core Local
APP_KEY=9f272996-b5bc-435a-abff-67d7848e46a5
APP_DEBUG=true
APP_URL=http://localhost
 
FRONTEND_URL=http://dev.badr.co.id:7500
 
DB_USER=username
DB_PASSWORD=password
DB_NAME=smile
DB_HOST=localhost
DB_PORT=3306

DATABASE_URL=mysql://username:password@localhost/smile
 
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
 
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5671
RABBITMQ_USERNAME=username
RABBITMQ_PASSWORD="password"
RABBITMQ_PROTOCOL=amqps
 
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=myapp
MAIL_FROM_ADDRESS=myapp@example.com

OTLP_ENDPOINT=http://localhost:4317
UPTRACE_DSN=http://password@localhost:14318?grpc=14317

SENTRY_DSN=https://5b503147ca7dcaaed75042c15f7a4674@sentry.badr.co.id/2

LOKI_SEND=false
LOKI_HOST=http://10.10.0.6:3100