NODE_ENV="development"
SITE_TITLE="SMILE UNDP"
STORAGE_PREFIX="SMILEWEB_"
CAPTCHA_SITE_KEY=""
CAPTCHA_SECRET_KEY=""

API_URL="http://localhost"
API_URL_ALT="http://localhost"
API_AUTH_URL="http://localhost"
API_ASSET_URL="http://localhost"
API_REPORT_URL="http://localhost"
API_BIG_DATA_URL="http://localhost/warehouse-report"
API_ETL="http://localhost"

DEVICE_TYPE="web"
DATE_FORMAT="DD/MM/YYYY"
DATE_TIME_FORMAT="DD/MM/YYYY HH:mm"

NEXT_PUBLIC_THEME="default"
FUSIONCHART_LICENSE=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="smile-indonesia.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://smile-indonesia.firebaseio.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="smile-indonesia"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="smile-indonesia.appspot.com"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="164404483931"
NEXT_PUBLIC_FIREBASE_APP_ID="1:164404483931:web:4fd768396aa6a81ca3ec7e"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-2BLVJFR1SN"

API_URL_V5="http://localhost"
CURRENCY="IDR"
URL_WMS="http://staging.smile-indonesia.id"

GROWTHBOOK_API_HOST="https://feature.badr.co.id"
GROWTHBOOK_CLIENT_KEY=""

ASSET_VENDOR_TYPE_COMMUNICATION_PROVIDER="5"
KESLING_PROGRAM_ID="217"
GEOJSON_MAPS_URL="https://doh6usb6cfs43.cloudfront.net"
MAX_HUMIDITY_THRESHOLD="80"
MIN_HUMIDITY_THRESHOLD="60"
NEXT_PUBLIC_FIREBASE_VAPID_KEY=""