AWS_ACCESS_KEY_ID="AKIAYRH5NICEEQJVVYVX"
AWS_SECRET_ACCESS_KEY=""
AMQP_SERVER="amqps://username:password@host:5671"
MAIL_SENDER="smile5@smile-indonesia.id"

SMTP_HOST="email-smtp.ap-southeast-1.amazonaws.com"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_PORT="587"
SMTP_TLS="TLS"

COVID_API_URL="http://kpcpen-api-dev.vsan-apps.playcourt.id/api/kpcpen/v1"
SMILE_URL="https://staging-api.smile-indonesia.id"
COVID_API_TOKEN=""

SMS_SERVERNAME="http://secure.gosmsgateway.com/masking/api"
SMS_USERNAME=""
SMS_PASSWORD=""

COVID_API_USERNAME=""
COVID_API_PASSWORD=""

PROD_DB_USERNAME="username"
PROD_DB_PASSWORD="password"
PROD_DB_DATABASE="notification"
PROD_DB_HOST="host"
PROD_DB_PORT="3306"
PROD_DB_DIALECT="mysql"

FCM_PROJECT_ID="smile-platform"
GOOGLE_KEY="../config/smile-platform-firebase-adminsdk-qcqrx-566a441029.json"
ELASTIC_APM_DISABLE_SEND="true"

WHATSAPP_BASE_URL="https://omnichannel.qiscus.com/whatsapp/v1/"
WHATSAPP_APP_ID=""
WHATSAPP_SECRET_KEY=""
WHATSAPP_CHANNEL_ID="6717"
WHATSAPP_URL="https://omnichannel.qiscus.com/whatsapp/v1/elvxp-w8gn7qeebmrpdtf/6717/messages"
WHATSAPP_NAMESPACE=""
NODE_ENV="production"
WHATSAPP_PRODUCTION_START_DATE="2025-11-01"
WHATSAPP_ALLOWED_DAYS=""
WHATSAPP_ALLOWED_USER_ENTITY_TAG_IDS=""
