NODE_ENV=development
PORT=4004
LOG_MODE=development
MIGRATION_MODE=true
 
APP_NAME=MyApp
APP_KEY=9f272996-b5bc-435a-abff-67d7848e46a5
APP_DEBUG=false
APP_URL=http://localhost
 
FRONTEND_URL=http://localhost:3000
FALLBACK_SERVER_URL=http://dev.badr.co.id:8005
WORKSPACE_ID=1

DB_USER=username
DB_PASSWORD=password
DB_NAME=smile5_mapping
DB_HOST=localhost
DB_PORT=3306
 
REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
 
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5671
RABBITMQ_USERNAME=username
RABBITMQ_PASSWORD="password"
RABBITMQ_PROTOCOL=amqps
 
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=myapp
MAIL_FROM_ADDRESS=myapp@example.com
 
DATABASE_URL=mysql://username:password@localhost/smile5_mapping
CLICKHOUSE_DATABASE_URL=http://username:password@localhost:8123/olap
 
PLATFORM_DB_USER=username
PLATFORM_DB_PASSWORD=password
PLATFORM_DB_NAME=training_smile5
PLATFORM_DB_HOST=localhost
PLATFORM_DB_PORT=3306
 
IMUN_DB_USER=username
IMUN_DB_PASSWORD=password
IMUN_DB_NAME=imun
IMUN_DB_HOST=localhost
IMUN_DB_PORT=3306
IMUN_DB_IOT_NAME=imun_iot 

LOGISTIK_DB_IOT_NAME=logistic_iot
LOGISTIK_DB_USER=username
LOGISTIK_DB_PASSWORD=password
LOGISTIK_DB_NAME=logistic
LOGISTIK_DB_HOST=localhost
LOGISTIK_DB_PORT=3306

MIGRATION_DB_NAME=training_smile5
MIGRATION_DB_HOST=localhost
MIGRATION_DB_USER=username
MIGRATION_DB_PORT=3306
MIGRATION_DB_PASSWORD=password
 
SYNC_SERVER_URL_IMMUNIZATION=https://dev-imun-api.badr.co.id
SYNC_SERVER_URL_LOGISTIC=https://dev-logistic-api.badr.co.id

MINIO_ENDPOINT=app-smile5-uat.s3.ap-southeast-3.amazonaws.com
MINIO_PORT=0
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=