[mysqld]
log_bin_trust_function_creators=1
default-authentication-plugin=caching_sha2_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=1000
max_allowed_packet=256M
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2
max_slowlog_size=1073741824

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4
